
@tailwind base;
@tailwind components;
@tailwind utilities;


body
{
    background-color: #E8CC8F ;
}


button
{
    display: inline-block;
    height: 50px;
    padding: 0 60px;
    color: #7e6f4d;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 4px;
    border: none;
    cursor: pointer;

    background: #E8CC8F;
    box-shadow:  -10px 10px 30px #c1a977,
    10px -10px 30px #ffefa7;

}


button:hover
{
    background: #E8CC8F;
    box-shadow: inset -10px 10px 30px #c1a977,
    inset 10px -10px 30px #ffefa7;
}


.videoWrapper 
{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.meal 
{
    margin: 20px 0;
}








